{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "tailwindConfig": "./tailwind.config.js"
}
