{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
