<div>
    <AuthBase>
        <div slot="title">Hi there!</div>
        <div slot="body">
            <form class="form-horizontal w-3/4 mx-auto" method="POST" action="#">
                <div class="flex flex-col mt-4">
                    <input id="name" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="name" value="" placeholder="Name">
                </div>
                <div class="flex flex-col mt-4">
                    <input id="email" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="email" value="" placeholder="Email">
                </div>
                <div class="flex flex-col mt-4">
                    <input id="password" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400" name="password" required placeholder="Password">
                </div>
                <div class="flex flex-col mt-4">
                    <input id="password_confirmation" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400" name="password_confirmation" required placeholder="Password confirmation">
                </div>
                <div class="flex flex-col mt-8">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                        Register
                    </button>
                </div>
            </form>
        </div>
        <div slot="footer">
            <router-link to="/login" class="no-underline hover:underline text-blue-dark text-xs" href="">
                Do you already have an account?
            </router-link>
        </div>
    </AuthBase>
</div>

