.my-adding {
    @media (max-width: 500px) {
        position: static;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

.actions-wrapper {
    .delete-button {
        margin-left: 90px;
    }
}