<div>
    <BaseLayout>
        <span slot="header">
            {{ h1 + (category ? ': ' + category.title : '') }}
        </span>
        <div slot="action">
            <div class="left-0 bottom-0 mr-4 absolute">
                <router-link :to="`/projects-categories`" slot="action" class="">
                    <span :class="`${$color('textBreadcrumbs')}-800 text-sm`">Categories {{ category ? ' > ' : '' }}</span>
                </router-link>
                <router-link v-if="parentCategories" v-for="parentCategory in parentCategories" :key="parentCategory.id" :to="`/projects-categories/${parentCategory ? parentCategory.id + '/children' : ''}`" slot="action" class="">
                    <span :class="`${$color('textBreadcrumbs')}-800 text-sm`">{{ parentCategory.title }} > </span>
                </router-link>
                <router-link v-if="category" to="#" slot="action" class="">
                    <span :class="`${$color('textBreadcrumbs')}-800 text-sm`">{{ category.title }}</span>
                </router-link>
            </div>
            <div class="my-adding absolute right-0 bottom-0 mr-5">
                <router-link v-if="category" :to="`/projects-categories/${category.id}/edit`" title="Edit category name" class="pr-5 opacity-25 hover:opacity-100">
                    <font-awesome-icon icon="pencil-alt" class="text-4xl"/>
                </router-link>
                <router-link :to="`/projects-categories/${id ? id + '/' : ''}create`" title="Add category" class="opacity-25 hover:opacity-100">
                    <font-awesome-icon icon="plus-circle" class="text-4xl"/>
                </router-link>
            </div>
        </div>

        <div slot="body">
            <loader v-if="showLoader" :is-active="showLoader" />
            <table v-else class="w-full shadow-lg rounded mt-5" slot="body">
                <tbody :class="`${$color('blocks')}`">
                <tr v-for="category in categories" :class="`accordion border-b ${$color('borderMain')} hover:${$color('blocksHover')}`" @click="panel = true">
                    <td class="flex inline-flex items-center">
                        <span class="py-3 w-40">
                            <p :class="`${$color('textMain')}-800 text-sm`">{{ category.title }}</p>
                            <p :class="`text-xs ${$color('textMain')}-600 font-medium`">Process</p>
                        </span>
                    </td>
                    <td class="hidden md:table-cell">
                        <p :class="`text-sm ${$color('textMain')}-700 font-medium`">Projects</p>
                        <p :class="`text-xs ${$color('textMain')}-500 font-medium`">{{ category.children_count }}</p>
                    </td>
                    <td>
                        <DropdownMenu class="lg:hidden" :actions="getActions(category)"></DropdownMenu>
                        <div class="hidden lg:block">
                            <router-link :to="{name: 'ProjectCategoryChildrenList', params: {id: category.id}}" class="rounded-l px-5 py-1 border border-4 border-green-400 text-green-600 hover:bg-green-400 hover:text-white">
                                Open
                            </router-link>
                            <button class="rounded-r px-5 py-1 border border-4 border-red-400 text-red-600 hover:bg-red-400 hover:text-white" @click="deleteCategory(category)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </BaseLayout>

    <Modal :show="isShowModal" @close="isShowModal = false">
        <CategoryView slot="modal-body" />
    </Modal>


</div>
