<div>
	<AuthBase>
		<template #title>Reset Password</template>
		<template #body>
			<form class="form-horizontal w-3/4 mx-auto" method="POST" action="#">
				<div class="flex flex-col mt-4">
					<input id="password" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400" name="password"
								 required placeholder="Password">
				</div>
				<div class="flex flex-col mt-4">
					<input id="password_confirmation" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400"
								 name="password_confirmation" required placeholder="Password confirmation">
				</div>
				<div class="flex flex-col mt-8">
					<button type="submit"
									class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
						Reset
					</button>
				</div>
			</form>
		</template>
		<template #footer>
			<router-link to="/register" class="no-underline hover:underline text-blue-dark text-xs">
				You don't have account?
			</router-link>
			<br>
			<router-link to="/login" class="no-underline hover:underline text-blue-dark text-xs">
				Login
			</router-link>
		</template>
	</AuthBase>
</div>

