<BaseLayout>
	<template #header>
		{{ h1[$route.name] }}
		<br>
		<small v-if="summaryTimeString" class="text-opacity-25">{{ summaryTimeString }}</small>
	</template>
	<template #action>
		<div class="left-0 bottom-0 mr-4 absolute">
		</div>
		<div class="absolute right-0 bottom-0">
			<router-link :to="`/tasks/create`" title="Add Task" class="pr-5">
				<span class="material-icons text-4xl text-gray-700 opacity-75 hover:opacity-100">add_circle_outline</span>
			</router-link>
		</div>
	</template>
	<template #body>
		<default-tasks-list-component
			v-if="tasks && tasks.length > 0 && showDefaultList"
			:tasks="tasks"
			:status="status"
		/>
		<tasks-list-component
			v-else-if="tasks && tasks.length > 0 && !showDefaultList"
			:tasks="tasks"
			:status="status"
			:is-loading-actions="isLoadingActions"
			@reload-tasks="loadTasks"
		/>
		<div v-else-if="!showLoader" style="font-style: italic; font-size: 18px;">
			You don't have tasks here
		</div>
		<loader v-if="showLoader" :is-active="true" style="margin-top: 2rem" />
	</template>
</BaseLayout>
