<BaseLayout>
    <span slot="header">{{ h1[$route.name] }}</span>
    <table class="w-full shadow-lg rounded mt-5" slot="body">
        <tbody class="bg-white">
            <tr v-for="item in Array(10)" class="accordion border-b border-grey-light hover:bg-gray-100" @click="panel = true">
                <td class="flex inline-flex items-center">
                            <span class="py-3 w-40">
                                <p class="text-gray-800 text-sm">Update UI of tasks page</p>
                                <p class="md:hidden text-xs text-gray-600 font-medium">Process</p>
                                <p class="pl-2 hidden md:table-cell text-xs text-gray-500 font-medium">Project</p>
                            </span>
                </td>
                <td class="hidden md:table-cell">
                    <p class="text-sm text-gray-800 font-medium">Process</p>
                    <p class="text-xs text-gray-500 font-medium">1 hour 59 minute</p>
                </td>
                <td class="hidden md:table-cell">
                    <p class="text-sm text-gray-700 font-medium">Project name</p>
                </td>
                <td>
                    <DropdownMenu class="lg:hidden"></DropdownMenu>
                    <div class="hidden lg:block">
                        <Button color="green" extra-class="rounded-l">Done</Button>
                        <Button color="blue">Open</Button>
                        <Button color="gray">Hide</Button>
                        <Button color="red" extra-class="rounded-r">Archive</Button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</BaseLayout>
