<div>
    <BaseLayout>
        <span slot="header">{{ h1 }}</span>
        <div class="w-full shadow-lg rounded mt-5" slot="body">
            <div class="bg-white">
                <p class="p-5">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <br>
                <table class="w-full" slot="body">
                    <tbody class="bg-white">
                    <tr v-for="item in Array(5)" class="accordion border-b border-grey-light hover:bg-gray-100" @click="panel = true">
                        <td class="flex inline-flex items-center">
                <span class="py-3 w-40">
                    <p class="text-gray-800 text-sm">Task manager Project</p>
                    <p class="md:hidden text-xs text-gray-600 font-medium">Process</p>
                    <p class="pl-4 hidden md:table-cell text-xs text-gray-500 font-medium">Project</p>
                </span>
                        </td>
                        <td class="hidden md:table-cell">
                            <p class="text-sm text-gray-800 font-medium">Sub projects</p>
                            <p class="text-xs text-gray-500 font-medium">158</p>
                        </td>
                        <td class="hidden md:table-cell">
                            <p class="text-sm text-gray-700 font-medium">Tasks</p>
                            <p class="text-xs text-gray-500 font-medium">352</p>
                        </td>
                        <td>
                            <DropdownMenu class="lg:hidden"></DropdownMenu>
                            <div class="hidden lg:block">
                                <Button type="router-link" to="/projects/view" color="green" extra-class="rounded-l">Open</Button>
                                <Button color="red" extra-class="rounded-r">Delete</Button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </BaseLayout>
    <BaseLayout>

        <span slot="header">Task Manager Project</span>
        <div class="w-full shadow-lg rounded mt-5" slot="body">
            <div class="bg-white">
                <p class="p-5">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <table class="w-full" slot="body">
                    <tbody class="bg-white">
                    <tr v-for="item in Array(10)" class="accordion border-b border-grey-light hover:bg-gray-100" @click="panel = true">
                        <td class="flex inline-flex items-center">
                            <span class="py-3 w-40">
                                <p class="text-gray-800 text-sm">Update UI of tasks page</p>
                                <p class="md:hidden text-xs text-gray-600 font-medium">Process</p>
                                <p class="pl-2 hidden md:table-cell text-xs text-gray-500 font-medium">Project</p>
                            </span>
                        </td>
                        <td class="hidden md:table-cell">
                            <p class="text-sm text-gray-800 font-medium">Process</p>
                            <p class="text-xs text-gray-500 font-medium">1 hour 59 minute</p>
                        </td>
                        <td class="hidden md:table-cell">
                            <p class="text-sm text-gray-700 font-medium">Project name</p>
                        </td>
                        <td>
                            <DropdownMenu class="lg:hidden"></DropdownMenu>
                            <div class="hidden lg:block">
                                <Button color="green" extra-class="rounded-l">Done</Button>
                                <Button color="blue">Open</Button>
                                <Button color="gray">Hide</Button>
                                <Button color="red" extra-class="rounded-r">Archive</Button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </BaseLayout>

</div>
