<div>
    <AuthBase>
        <div slot="title">Welcome back!</div>
        <div slot="body">
            <form class="form-horizontal w-3/4 mx-auto" method="POST" action="#">
                <div class="flex flex-col mt-4">
                    <input id="email" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="email" value="" placeholder="Email">
                </div>
                <div class="flex flex-col mt-4">
                    <input id="password" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400" name="password" required placeholder="Password">
                </div>
                <div class="flex items-center mt-4">
                    <input type="checkbox" name="remember" id="remember" class="mr-2"> <label for="remember" class="text-sm text-grey-dark">Remember Me</label>
                </div>
                <div class="flex flex-col mt-8">
                    <router-link to="/tasks" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                        Login
                    </router-link>
                </div>
            </form>
        </div>
        <div slot="footer">
            <router-link to="/password/forget" class="no-underline hover:underline text-blue-dark text-xs" href="">
                Forgot Your Password?
            </router-link><br>
            <router-link to="/register" class="no-underline hover:underline text-blue-dark text-xs" href="">
                You dont't have account?
            </router-link>
        </div>
    </AuthBase>
</div>

