.text-main {
	color: #2c3e50;
}

.dark-text-main {
	color: #e2e2e2;
}

.dark-bg-body {
	background-color: #121212 !important;
}

.bg-body {
	background-color: #edf2f7;
}

.fade-enter-active,
.fade-leave-active,
.fade-fast-enter-active,
.fade-fast-leave-active{
	transition-duration: 0.5s;
	transition-property: height, opacity;
	transition-timing-function: ease;
	overflow: hidden;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
	transition-duration: 0.25s;
}

.fade-enter-from,
.fade-leave-active,
.fade-fast-enter-from,
.fade-fast-leave-active{
	opacity: 0
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition-duration: 0.5s;
	transition-property: height, opacity, transform;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
	overflow: hidden;
}

.slide-left-enter-from,
.slide-right-leave-active {
	opacity: 0;
	transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter-from {
	opacity: 0;
	transform: translate(-2em, 0);
}


.tc-hidden {
	display: none;
}

.tc-block {
	display: block;
}
