/**
burger
 */

.nav-toggle-menu {
	direction: rtl;

	.bar1,
	.bar2,
	.bar3 {
		width: 26px;
		height: 3px;
		margin: 5px 0;
		transition: 0.3s;
		border-radius: 3px;
	}

	.bar1 {
		width: 22px;
	}

	.bar2 {
		width: 18px;
	}

	&.active {
		.bar1 {
			transform: rotate(-45deg) translate(-5px, 5px);
			width: 26px;
		}

		.bar2 {
			opacity: 0;
		}

		.bar3 {
			transform: rotate(45deg) translate(-6px, -7px);
		}
	}
}

.auth-loader {
	position: absolute;
	top: 0;
	display: inline-block !important;
	vertical-align: middle;
	width: 12px !important;
	height: 12px !important;
	margin-left: 10px;
}

.ql-bubble .ql-tooltip {
	margin-left: 75px;

	.ql-tooltip-arrow {
		left: 10%;
	}
}

/* width */
::-webkit-scrollbar {
	width: 7px;
	height: 10px;
	margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: rgba(147, 147, 147, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(117, 117, 117, 0.2);
	border-radius: 100vh;
	border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #7c7c7c;
}

#telegram-login-widget-container {
	padding: 5px;
}