.text-main {
	color: #2c3e50;
}

.dark-text-main {
	color: #e2e2e2;
}

.dark-bg-body {
	background-color: #121212 !important;
}

.bg-body {
	background-color: #edf2f7;
}

.fade-enter-active,
.fade-leave-active {
	transition: .5s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active{
	transition-duration: 0.5s;
	transition-property: height, opacity;
	transition-timing-function: ease;
	overflow: hidden;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
	transition-duration: 0.25s;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
	opacity: 0
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition-duration: 0.5s;
	transition-property: height, opacity, transform;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
	overflow: hidden;
}

.slide-left-enter-from,
.slide-right-leave-active {
	opacity: 0;
	transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter-from {
	opacity: 0;
	transform: translate(-2em, 0);
}

.countdown-wrapper {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.tc-hidden {
	display: none;
}

.tc-block {
	display: block;
}

.bounce-enter-active {
	animation: bounce-in .3s;
}
.bounce-leave-active {
	animation: bounce-in .3s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.35);
	}
	100% {
		transform: scale(1);
	}
}


/**
burger
 */

.nav-toggle-menu {
	direction: rtl;
	.bar1, .bar2, .bar3 {
		width: 26px;
		height: 3px;
		margin: 5px 0;
		transition: .3s;
		border-radius: 3px;
	}
	.bar1 {
		width: 22px;
	}
	.bar2 {
		width: 18px;
	}
	&.active {
		.bar1 {
			transform: rotate(-45deg) translate(-5px, 5px);
			width: 26px;
		}
		.bar2 {
			opacity: 0;
		}
		.bar3 {
			transform: rotate(45deg) translate(-6px, -7px);
		}
	}
}

.auth-loader {
	position: absolute;
	top: 0;
	display: inline-block !important;
	vertical-align: middle;
	width: 12px !important;
	height: 12px !important;
	margin-left: 10px;
}

.ql-bubble .ql-tooltip {
	margin-left: 75px;
	.ql-tooltip-arrow {
		left: 10%;
	}
}
