.ql-container {
	overflow-y: auto;
	max-height: 300px;
}

.ql-editor {
	&.ql-blank::before {
		color: #fff !important;
		left: 15px !important;
		font-style: normal !important;
		opacity: .6;

		.default-mode & {
			color: rgb(44, 62, 80) !important;
		}
	}

	padding: 5px 0 !important;
}
