@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/material-icons.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'CodecPro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/CodecPro-News.woff2) format('woff2');
}

@font-face {
	font-family: 'CodecPro Bold';
	font-style: normal;
	font-display: swap;
	src: url(../fonts/CodecPro-Bold.woff2) format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'CodecPro Bold', sans-serif;
}
