.fade-enter-active,
.fade-leave-active {
	transition: 0.5s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
	transition-duration: 0.25s;
	transition-property: height, opacity;
	transition-timing-function: ease;
	overflow: hidden;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
	opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition-duration: 0.5s;
	transition-property: height, opacity, transform;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
	overflow: hidden;
}

.slide-left-enter-from,
.slide-right-leave-active {
	opacity: 0;
	transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter-from {
	opacity: 0;
	transform: translate(-2em, 0);
}

.countdown-wrapper {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.bounce-enter-active {
	animation: bounce-in 0.3s;
}

.bounce-leave-active {
	animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.35);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes zoomOut {
	from {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	to {
		opacity: 0;
	}
}

.zoom-enter-active {
	animation: zoomIn 0.5s;
}

.zoom-leave-active {
	animation: zoomOut 0.5s;
}

.translate-left-enter-active {
	animation: translateLeft 0.5s;
}
.translate-left-leave-active {
	animation: translateLeft 0.5s reverse;
}

@keyframes translateLeft {
	from {
		transform: translate3d(1000px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.bounce-right-fade-enter-active {
	animation: bounceInRight 1s;
}
.bounce-right-fade-leave-active {
	transition: 0.5s;
	opacity: 0;
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		transform: translate3d(10px, 0, 0);
	}

	90% {
		transform: translate3d(-5px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}


.slide-right-enter-active,
.slide-right-leave-active {
	transition: all 0.3s ease-out;
}

.slide-right-enter-from {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-right-leave-to {
	transform: translateX(100%);
	opacity: 0;
}

