@import "fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "switch";

body {
	overflow-x: hidden;
	font-family: 'CodecPro', sans-serif;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}

.countdown-wrapper {
	font-family: 'Roboto', sans-serif;
}

.bg-screen-default {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)) repeat scroll 0% 0%
}

@import 'checkbox';

.icon {
	display: inline-block;
	vertical-align: text-top;
}

/*@import "tooltip";*/
@import "~vue-directive-tooltip/src/css/index.scss";

.custom-tooltip {
	background: #616161;
	border-radius: 50px;

	.tooltip-arrow {
		border-top-color: #616161 !important;
	}
}

button {
	&:focus {
		outline: none;
	}
}

.night-mode {
	.vs__dropdown-menu {
		background: #cbd5e0;
	}
}

.vs__search {
	color: #000;
}
