@import "app";
@import "fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "switch";
@import "task";
@import "alert";

body {
	overflow-x: hidden;
	font-family: 'CodecPro', sans-serif;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}

.reset-scroll {
	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

.bg-screen-default {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)) repeat scroll 0% 0%
}

@import 'checkbox';

.icon {
	display: inline-block;
	vertical-align: text-top;
}

@import "../../directives/tooltip/css/index.scss";

.custom-tooltip {
	background: #000;
	border-radius: 50px;

	.tooltip-arrow {
		border-top-color: #000 !important;
	}
}

button {
	&:focus {
		outline: none;
	}
}

.min-h-8 {
	min-height: 36px;
}

.night-mode {
	.vs__dropdown-menu {
		background: #cbd5e0;
	}
}

.vs__search {
	color: #000;
}

.ql-container {
	overflow-y: auto;
	max-height: 300px;
}

.ql-editor {
	&.ql-blank::before {
		color: #fff !important;
		left: 23px !important;
	}

	padding: 12px 10px;
}

.form-and-checkpoints-wrapper {
	max-height: 660px;
	overflow-y: auto;
	margin-top: 20px;

	@media (max-width: 1024px) { max-height: 550px }

	@extend .reset-scroll;
}
