@import 'app';
@import 'fonts';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'switch';
@import 'task';
@import 'alert';
@import 'editor';
@import 'checkbox';
@import 'task-form';

body {
	overflow-x: hidden;
	font-family: 'CodecPro', sans-serif;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}

.reset-scroll {
	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

.bg-screen-default {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)) repeat scroll
		0% 0%;
}

.icon {
	display: inline-block;
	vertical-align: text-top;
}

@import '../../directives/tooltip/css/index.scss';

.custom-tooltip {
	background: #000;
	border-radius: 50px;

	.tooltip-arrow {
		border-top-color: #000 !important;
	}
}

button {
	&:focus {
		outline: none;
	}
}

.min-h-8 {
	min-height: 36px;
}

.night-mode {
	.vs__dropdown-menu {
		background: #1f2937;
	}

	.vs__dropdown-option {
		color: #656b75;
	}
}

.vs__search {
	color: #000;
}

.bounce-right-fade-enter-active {
	animation: bounceInRight 1s;
}
.bounce-right-fade-leave-active {
	transition: 0.5s;
	opacity: 0;
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		transform: translate3d(10px, 0, 0);
	}

	90% {
		transform: translate3d(-5px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
